@import "../index";

.container__profile {
  display: flex;
  height: 100vh;

  .avatar__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1E1E1E;
    text-align: center;
    margin-top: 2 * @part10px;

  }

  .button-back {
    height: 100%;
    width: 7 * @part10px;
    background: url("/static/images/go-to-back.svg");
    cursor: pointer;
    border: none;
    outline: none;
    align-self: center;
    background-color: #FBFBFB;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease;

    &:hover {
      background-color: rgba(180, 180, 180, 0.8);
    }
  }

  .profile-main {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 70px);
    margin: 60px auto 0;
    align-items: center;
  }

  .avatar__photo{
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    width: 13 * @part10px;
    height: 12 * @part10px;
    align-self: center;
    transition: all .3s ease;
  }

  .avatar__photo-container {
    display: block;
    max-width: 13 * @part10px;
    max-height: 12 * @part10px;
    align-items: center;
    margin: 0 auto;
  }

  .avatar__photo-edit {
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 13 * @part10px;
    height: 12 * @part10px;
    background-color: transparent;
    background-image: url("/static/images/profile_hover.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all .3s ease;
  }

  .avatar__photo-container:hover .avatar__photo-edit{
    cursor: pointer;
    opacity: 1;
    transition: .1s linear;
  }

  .avatar__photo-container:hover .avatar__photo {
    opacity: 20%;
    transition: .1s linear;
  }

  .button__container {
    display: flex;
    flex-direction: column;
    width: 450px;

    .profile__button {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      border: none;
      outline: none;
      align-self: center;
      margin-bottom: 10px;
      height: 45px;
    }

    .profile__button_type_edit-password {
      cursor: pointer;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }

    .profile__button_type_edit {
      .profile__button_type_edit-password();
    }

    .profile__button_type_save {
      width: 100%;
      background-color: #3456F3;
      border-radius: 3px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      transition: opacity 0.3s ease-in-out;
    }

    .profile__button_type_save-edit {
      .profile__button_type_save();
      display: block;
    }

    .disabled {
      display: none;
    }

    .profile__button_type_save:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    .profile__button_type_save-edit:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    .profile__button_type_signout {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      text-decoration: none;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #d92b58;
      align-self: center;
      transition: opacity 0.3s;
    }

    .profile__button_type_signout:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }


}
.user-profile {
  margin: 0 auto;
}
  .profile__form {
	  margin: 90px auto;
	  width: 450px;
  }

.profile__form.password {
  padding: 65px 0 104px 0;
}

  .profile__fields{
    border: none;
    padding: 0;
  }

  .profile__container {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  .profile__form-input {
    text-align: right;
    border: none;
    background: none;
    font-size: 11px;
    line-height: 13px;
    height: 20px;
    width: 80%;
    margin-left: auto;
  }
  .profile__form-input-name {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  hr{
    color: #EAEAEA;
    margin: 10px 0;
  }

  .profile__message {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    min-height: 13px;
    text-align: center;
    margin-bottom: 20px;
  }

  .form__input-error {
    color: #ff0000;
    font-size: 8px;
  }

  .profile__message_type_error {
    color: #EE3465;
  }

  .profile__message_type_success {
    color: #2BE080;
  }



