.user-profile {
  margin: 0 auto;
  padding: 74px 0 70px 0;

  .profile__title {
    margin: 0 auto 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .profile__form {
    margin: 0 auto;
    width: 450px;
  }

  .profile__fields{
    border: none;
    padding: 0;
  }

  .profile__container {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  .profile__form-input {
    text-align: right;
    border: none;
    background: none;
    font-size: 11px;
    line-height: 13px;
    height: 20px;
    width: 80%;
    margin-left: auto;
  }
  .profile__form-input-name {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  hr{
    color: #EAEAEA;
    margin: 10px 0;
  }

  .profile__message {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    min-height: 13px;
    text-align: center;
    margin-bottom: 20px;
  }

  .form__input-error {
    color: #ff0000;
    font-size: 8px;
  }

  .profile__message_type_error {
    color: #EE3465;
  }

  .profile__message_type_success {
    color: #2BE080;
  }
}
