<div>
    <form class="profile__form password" novalidate>
        <fieldset class="profile__fields">
            <div class="profile__container">
                <p class="profile__form-input-name">Old Password</p>
                {{{ inputOldPassword }}}
            </div>
            <span class="form__input-error old-password-input-error"></span>
            <hr/>
            <div class="profile__container">
                <p class="profile__form-input-name">New Password</p>
                {{{ inputNewPassword }}}
                <span class="form__input-error new-password-input-error"></span>
            </div>
            <hr/>
            <div class="profile__container">
                <p class="profile__form-input-name">Repeat new password</p>
                {{{ inputNewCPassword }}}
                <span class="form__input-error new-cpassword-input-error"></span>
            </div>
        </fieldset>
    </form>
</div>
