<form class="profile__form password" novalidate>
    <fieldset class="profile__fields">
        <div class="profile__container">
            <p class="profile__form-input-name">Old Password</p>
            {{{ inputOldPassword }}}
        </div>
        <span id="old-password-input-error" class="input-error"></span>
        <hr/>
        <div class="profile__container">
            <p class="profile__form-input-name">New Password</p>
            {{{ inputNewPassword }}}
        </div>
        <span id="new-password-input-error" class="input-error"></span>
        <hr/>
        <div class="profile__container">
            <p class="profile__form-input-name">Repeat new password</p>
            {{{ inputNewCPassword }}}
        </div>
        <span id="new-cpassword-input-error" class="input-error"></span>
    </fieldset>
</form>
