<div class="user-profile">
    <form class="profile__form" novalidate>
        <fieldset class="profile__fields">
            <div class="profile__container">
                <p class="profile__form-input-name">Old Password</p>
                {{{ inputOldPassword }}}
<!--                <input-->
<!--                        type="password"-->
<!--                        name="email"-->
<!--                        class="profile__form-input"-->
<!--                        required-->
<!--                        minlength="8"-->
<!--                        id="old-password-input">-->
            </div>
            <span class="form__input-error old-password-input-error"></span>
            <hr/>
            <div class="profile__container">
                <p class="profile__form-input-name">New Password</p>
<!--                <input-->
<!--                        type="password"-->
<!--                        class="profile__form-input"-->
<!--                        id="new-password-input"-->
<!--                        required-->
<!--                        minlength="8">-->
                {{{ inputNewPassword }}}
                <span class="form__input-error new-password-input-error"></span>
            </div>
            <hr/>
            <div class="profile__container">
                <p class="profile__form-input-name">Repeat new password</p>
<!--                <input-->
<!--                        type="password"-->
<!--                        class="profile__form-input"-->
<!--                        id="new-cpassword-input"-->
<!--                        required-->
<!--                        minlength="8">-->
                {{{ inputNewCPassword }}}
                <span class="form__input-error new-cpassword-input-error"></span>
            </div>
        </fieldset>
    </form>
</div>
