<aside>
  <div class="chat-header">
    {{{ button }}}
    {{{ input }}}
    <span id="input-create-error" class="input-error"></span>
    {{{ buttonCreateChat }}}
  </div>
  <div class="chats">

      {{#each chats}}
        {{{this}}}
      {{/each}}

  </div>
</aside>

