<div class="chat-header">
  {{{ button }}}
  {{{ input }}}
<!--  <button class="button">{{button}} ></button>-->
<!--  <input class="input" type="text" placeholder="search...">-->
</div>
<div class="chats">

</div>
