<div class="user__card-container">
  {{#if avatar}}
    <img class="photo__avatar" alt="avatar" src="https://ya-praktikum.tech/api/v2/resources{{avatar}}">
  {{/if}}
  <span class="username">{{name}}</span>
</div>
