@import "../../../index";
.chat-message {
  display: flex;
  align-items: center;
  height: 7 * @part10px;
  border-bottom: 1px solid @colorWhiteSmoke;
  border-top: 1px solid @colorWhiteSmoke;
  padding: @part10px;
  cursor: pointer;

  .photo {
    width: 50px;
    background: none;
  }

  .photo__avatar {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
  }

  .no-avatar {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: none;
  }

  .chat-container {
    margin-left: @part10px;
    background: none;
  }

  .user-name {
    color: @colorBlack;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    background: none;
  }

  .chat-text {
    display: flex;
    width: 200px;
    background: none;
  }

  .my-chat {
    color: @colorBlack;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: 4px;
  }

  .message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: @colorGrey;
    background: none;
  }

  .chat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: 2px 0;
    background: none;

    .button-delete {
      width: 12px;
      height: 12px;
      background: url("../../../../static/images/delete.svg");
      border: none;
      transition: background .2s ease-in, box-shadow .2s ease-in;
      border-radius: 50%;
      &:hover {
        background-color: @colorGrey70;
        box-shadow: 0 0 0 4px @colorGrey70;
        cursor: pointer;
      }
    }

    .time {
      font-weight: 500;
      font-size: 9px;
      line-height: 13px;
      color: @colorBlack;
      background: none;
    }

    .total-message {
      background-color: @colorBlue;
      color: @colorWhite;
      border-radius: 50%;
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
      width: 20px;
      height: 20px;
    }

    .from {
      margin: 0;
      color: @colorBlue;
      margin-right: 4px;
    }
  }
}
.selected {
  background: @colorGrey70;
}
